<!DOCTYPE html>
<html>

<head>
    <title>執行有愛，公義無礙</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="keywords" content="執行有愛,公益無礙,行政執行署,線上檔案黨,法務部">
    <meta name='viewport' content='width=device-width; initial-scale=1.0'>
    <link rel="shortcut icon" href="image/tpk_sm.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="library/angularjs/angular.imageloader.js"></script>
    <script src="js/fuc.js"></script>
    <script src="js/active.js"></script>
    <script src="js/tpk.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/tpk-index.css">
    <link rel="stylesheet" href="css/menu.css">
   
</head>

<script id="_waui2g">
//    var _wau = _wau || [];
//    _wau.push(["tab", "9kcx9vuh41oo", "i2g", "right-lower"]);
//    (function () {
//        var s = document.createElement("script");
//        s.async = true;
//        s.src = "http://widgets.amung.us/tab.js";
//        document.getElementsByTagName("head")[0].appendChild(s);
//    })();
//    if (navigator.userAgent.match("MSIE")) {
//        alert("建議使用Chrome、Firefox、Safari進行瀏覽");
//    }
</script>

<body ng-app="tpk" ng-controller="tpk_all" id="ng-app" class="ng-app">
    <div id="count_pop"></div>
    <div id='background-image-tpk'></div>
    <div class="se-pre-con">
        <div class='dialog-back'></div>
        <div class='load-icon'>
        </div>
    </div>
    <div class='mobile-tpk  phone-list'  >
        <div ><img src="image/phone-list.png "phonelist class='right' alt="" width="50px"></div>
        <div class='phone-menu'>
            <ul class="menu-list ">
                <li ng-repeat="menu in tpk_menu" phonemenuclick><a href="{{menu.link}}">{{menu.name}}</a>
                    <ul class='phone-s-menu'>
                       <li><div menuup>＜———</div></li>
                        <li ng-repeat='s_menu in menu.tpk_smenu'><a href="{{s_menu.link}}">{{s_menu.name}}</a></li>
                    </ul>
                </li>
            </ul>
            
        </div>
    </div>
    <div id="header" menuhover>
        <div class="col-xs-12" id='main-menu'>
            <div class='cation'>
                <div class="row tpk-header">
                    <div id="logo">
                        <a href="index.html"> <img src="image/tpki_logo.png" width="100%" ng-click="goindex()" alt="回首頁" title="回首頁"></a>
                    </div>
                    <div class='menu-box '>
                        <div class='tpk-title'>
                            <h3 class='tpk-title-head text-left left'>法務部行政執行署</h3>
                            <ul class='tpk-title-a list-inline right'>
                                <li><a href="index.html">回首頁</a></li>
                                <li><a href="https://www.facebook.com/%E6%B3%95%E5%8B%99%E9%83%A8%E8%A1%8C%E6%94%BF%E5%9F%B7%E8%A1%8C%E7%BD%B2-1392910267613444/">FaceBook</a></li>
                                <li>
                                    <a href="http://www.tpk.moj.gov.tw/mp030.html">法務部行政執行署</a></li>

                            </ul>
                        </div>
                        <div class="tpk-menu text-right tpk-bx">
                            <ul class="menu-list list-inline">
                                <li ng-repeat="menu in tpk_menu" menuonhover><a href="{{menu.link}}">{{menu.name}}</a></li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="ss-menu tpk-bx">
            <div class='cation'>
                <div class="row ">
                    <div style="width:10%;float:left;height:1px"></div>
                    <div class=" sub-m-list">
                        <div ng-repeat="menu in tpk_menu" class='sub-m'>
                            <ul class="list-unstyled">
                                <li ng-repeat='s_menu in menu.tpk_smenu'><a href="{{s_menu.link}}">{{s_menu.name}}</a></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 banner-color">
        <div id="banner">
            <img src="image/ban.png" width="100%" imageonload>
        </div>
    </div>
    <div class='box-shadow w100'>
        <div class="tpk-container row">
            <div class="col-xs-12 btn-choose">
                <div class="col-xs-4  col-xs-offset-2 text-center" showhover>
                    <img src="image/show.png" class='tpk-index-chose-icon' imageonload ng-click="to_show_list()">
                    <p>實體檔案展詳細資訊</p>
<!--
                    <div class='col-xs-12 text-center'>
                        <button class='btn btn-default tpk-btn' ng-click="to_show_list()">現場展覽</button>
                    </div>
-->
                </div>
                <div class="col-xs-4 col-xs-offset-1 text-center" onlinehover>
                    <img  src="image/online_hover.png" class='tpk-index-chose-icon' imageonload ng-click="to_online_list()">
                    <p>線上檔案展詳細資訊</p>
<!--
                    <div class='col-xs-12 text-center'>
                        <div class='btn btn-default tpk-btn' ng-click="to_online_list()"> 線上展覽</div>
                    </div>
-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="tpk-container">
            <div id='new-exhibition'>
                <div ng-include="'page/information_now.html'"></div>
                <!--                   替換網頁                -->

                <!--============================================-->
            </div>
            <div id='online-exhibition' ng-controller='index_list'>

                <blockquote class='bs-blockquote-color'>
                    <h3>線上展覽目錄</h3>
                </blockquote>
                <div class='col-xs-12' ng-repeat="a in tpk_menub | filter:a.type='menu'">
                    <blockquote class='bs-s-bl-color' style="margin-top:20px;">
                        {{a.name}}
                    </blockquote>
                    <div class=" tpk-class" ng-repeat="smenu in a.tpk_smenu" loadafter>
                        <div class='class-img'>
                            <p>{{smenu.name}}</p>
                            <img ng-src="image/{{smenu.image}}" class='img-thumbnail'>
                        </div>
                        <div class='class-context'>
                            <ul class='list-unstyled'>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>
<!--
    製作人:替代役男 153梯周信榮
    版權所有:法部行政執行署
-->