<!DOCTYPE html>
<html>

<head>
    <title>行政執行署-線上檔案展</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="image/tpk_sm.png">
   <!--[if lte IE 8]>

     <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2pre/html5shiv.js"></script>
     <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script>

     <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-sanitize.js"></script>
    <script src="library/lightimage/lightcase.js"></script>
    <script src="library/lightimage/jquery.events.touch.js"></script>
    <script src="library/angularjs/angular.imageloader.js"></script>
    <script src="library/jquery/jquery.jqzoom-core.js"></script>
    <script src="js/fuc.js"></script>
    <script src="js/active.js"></script>
    <script src="js/tpk.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="library/jquery/jquery.jqzoom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/tpk.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="library/lightimage/lightcase.css">
    <!--[if lte IE 8]>
        <script>
          document.createElement('ng-include');
          document.createElement('ng-pluralize');
          document.createElement('ng-view');
 
          // Optionally these for CSS
          document.createElement('ng:include');
          document.createElement('ng:pluralize');
          document.createElement('ng:view');
        </script>
      <![endif]-->
</head>

<script id="_waui2g">
    var _wau = _wau || [];
    _wau.push(["tab", "9kcx9vuh41oo", "i2g", "right-lower"]);
    (function () {
        var s = document.createElement("script");
        s.async = true;
        s.src = "http://widgets.amung.us/tab.js";
        document.getElementsByTagName("head")[0].appendChild(s);
    })();
</script>

<body ng-app="tpk" ng-controller="tpk_all" keyupclose id="ng-app" class="ng-app">
    <div class="se-pre-con">
        <div class='dialog-back'></div>
        <div class='load-icon'>
        </div>
    </div>
    <div class='dialog' id='tpk_show_modal'>
        <div class='dialog-back' hideclick></div>
        <div class='dialog-show photo'>
            <div class='row'>
                <div class='col-xs-12 show_location'>
                </div>
            </div>
        </div>
    </div>
    <div class='mobile-tpk  phone-list'  >
        <div ><img src="image/phone-list.png "phonelist class='right' alt="" width="50px"></div>
        <div class='phone-menu'>
            <ul class="menu-list ">
                <li ng-repeat="menu in tpk_menu" phonemenuclick><a href="{{menu.link}}">{{menu.name}}</a>
                    <ul class='phone-s-menu'>
                       <li><div menuup>＜———</div></li>
                        <li ng-repeat='s_menu in menu.tpk_smenu'><a href="{{s_menu.link}}">{{s_menu.name}}</a></li>
                    </ul>
                </li>
            </ul>
            
        </div>
    </div>
    <div id="header" menuhover>
        <!--   -->
        <div class="col-xs-12" id='main-menu' style="background: #FFF;">
            <div class='cation'>
                <div class="row tpk-header">
                    <div id="logo">
                        <a href="index.html"> <img src="image/tpki_logo.png" width="100%" ng-click="goindex()" alt="回首頁" title="回首頁"></a>
                    </div>
                    <div class='menu-box'>
                        <div class='tpk-title'>
                            <h3 class='col-xs-4 text-left'>法務部行政執行署</h3>
                            <ul class='col-xs-4 col-xs-offset-4 list-inline '>
                                <li><a href="https://www.facebook.com/%E6%B3%95%E5%8B%99%E9%83%A8%E8%A1%8C%E6%94%BF%E5%9F%B7%E8%A1%8C%E7%BD%B2-1392910267613444/">FaceBook</a></li>
                                <li>
                                    <a href="http://www.tpk.moj.gov.tw/mp030.html">法務部行政執行署</a></li>
                            </ul>
                        </div>
                        <div class="tpk-menu text-right tpk-bx">
                            <ul class="menu-list list-inline">
                                <li ng-repeat="menu in tpk_menu" menuonhover><a href="{{menu.link}}">{{menu.name}}</a></li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="ss-menu tpk-bx">
            <div class='cation'>
                <div class="row ">
                    <div style="width:10%;float:left;height:1px"></div>
                    <div class=" sub-m-list">
                        <div ng-repeat="menu in tpk_menu" class='sub-m'>
                            <ul class="list-unstyled">
                                <li ng-repeat='s_menu in menu.tpk_smenu'><a href="{{s_menu.link}}">{{s_menu.name}}</a></li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class="col-xs-12 pull-waring" id="tpk_banner">
            <div class="tpk-container" ng-include="'page/banner.html'">
            </div>
        </div>
    </div>
    <!--
    <div class='row'>
        <div class="col-xs-12" id='tpk_menu'>
             <div class="tpk-container">sd</div>
        </div>
    </div>
-->
    <div class='row'>
        <div class="col-xs-12 " id='tpk_body'>
            <div class="tpk-container tpk_body" ng-include="tpk_show">sd</div>
        </div>
    </div>
    <div class='row' id="copyright">
        <div class="col-xs-12">
            <div class="tpk-container">
                <div class='row'>
                    <div id="Bottom">
                        <ul>

                            <p align="left">地址：11485臺北市內湖區康寧路三段51號7樓
                                <a target="_nwMof" href="http://www.tpk.moj.gov.tw/ct.asp?xItem=2111&amp;CtNode=21620&amp;mp=030">交通資訊</a></p>
                            <p align="left">電話總機：(02)2633-6650　傳真電話：(02)2633-6929
                                <br>建議使用IE 9.0 以上版本　最佳觀看解析度1024x768 </p>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>